img{
    height: 100%;
    width: 100%;
}
.main {
    /* display: grid;
    position: relative; */
    width: 100vw;
}
.slider_frame_holder {
    width: 100%;
    /* background-color: black; */
    /* position: relative; */
    /* z-index: -1; */
}
.slider_frame {
    height: 400px;
    /* background-color: orange; */
    width: 600px;
    margin: 0 auto;
    /* position: relative; */
    overflow-x: scroll;
    overflow-y: hidden;
    
}
.slider {
    height: 100%;
    width: 3000px;
    /* position: absolute; */
    /* background-color: pink; */
    /* z-index: -1; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
