*{
    margin: 0;
    padding: 0;
}
img {
    height: 100%;
    width: 100%;
}
.main {
    width: 100vw;
}
.slider_frame_holder {
    width: 100%;
    margin-top: 20px;
}
.slider_frame {
    height: 400px;
    width: 600px;
    margin: 0 auto;
    position: relative;
}
.slider_wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.slider {
    height: 100%;
    width: 3000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#scroll_btn_left,
#scroll_btn_right {
    position: absolute;
    top: 180px;
    height: 40px;
    background: rgb(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    width: 20px;
}
#scroll_btn_left {
    left: 10px;
}
#scroll_btn_right {
    right: 10px;
}
.slider_dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
}
.slider_dot_holder{
    position: absolute;
    bottom: 5px;
    left: 45%;
}
